html, body 
	width: 100%
	height: 100%
	padding: 0
	margin: 0
	overflow: hidden

.app-layout
	border: 1px solid red
	width: 100%
	height: 100%

.grid-container 
	border: 1px solid blue

.grid-content
	

.row-container
	background: #132641
	margin: 0
	position: relative
	top: 0
	left: 0
	

.cell-container 
	
.focused 
	opacity: .3